html {
  box-sizing: border-box; // Border-box is always good
  font-size: 62.5%; // 1rem = 10px, 10px / 16px = 62.5%
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; // Now everything will inherit border-box from html above
}

body {
  background-image: url('../images/background.png');
  background-size: cover;
  // Set the default font styles, colors, etc.
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 2.5rem;
  color: var(--color-font);
}
