// COMPONENTS
//////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////

// The first 2 questions
.question {
  animation: fadeIn 0.75s;
  grid-column: 1 / -1;

  padding: 1rem 1rem 1.1rem 1rem;
  border: var(--border);
  background: var(--background);
  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  &__input {
    transition: all 0.25s;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -25px,
      rgba(0, 0, 0, 0.04) 0px 10px 10px -10px;

    &:focus {
      box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 6px -6px,
        rgba(0, 0, 0, 0.06) 0px 4px 4px -4px;
    }

    // border-bottom: 1px solid var(--color-primary-light);
    border-bottom-right-radius: 2.5px;
    border-bottom-left-radius: 2.5px;
    padding: 0 0.5rem;

    &--grateful:empty::before {
      opacity: 0.2;
      content: 'Try to make it something different than yesterday.';
    }

    &--goal:empty::before {
      opacity: 0.2;
      content: 'Let this be the one thing you will get done today \2013  no matter what.';
    }
  }
}

// The second 2 content boxes for tasks and notes (same styles)
.content-box {
  animation: fadeIn 0.75s;
  border: var(--border);
  background: var(--background);
  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  row-gap: 2rem;

  padding-bottom: 2.5rem;

  &:first-child {
    margin-bottom: 1rem;
  }
}

// Individual task
.task {
  display: flex;
  column-gap: 1.75rem;
  align-items: center;

  padding: 0 2rem;
  animation: fadeIn 0.5s;

  &__checkbox {
    height: 2.5rem;
    width: 2.5rem;
    border: var(--border);
    border-radius: 5px;
  }

  &__input {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border-bottom: 1px solid var(--color-primary-light);
    border-radius: 5px;
    padding: 0.5rem 0.75rem 0.5rem 0.75rem;

    &:empty::before {
      opacity: 0.2;
      content: 'Keep it specific and attainable.';
    }

    transition: all 0.25s;
    &:focus {
      background-color: var(--background-tertiary);
    }
  }

  .icon {
    margin-left: auto;
  }
}

// Notes content box
.notes {
  &__input {
    padding: 0 2rem;
    line-height: 1.9;
  }
}
