.dashboard {
  width: 75vw;
  min-height: 90vh;

  display: grid;
  grid-template-rows: min-content;

  overflow: hidden;
  border-radius: 2.4rem;

  background: var(--background);
  /* backdrop-filter: blur(100px); */
  /* Note: backdrop-filter has minimal browser support */

  border: var(--border);

  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  padding: var(--dashboard-padding);

  border-bottom: var(--border);

  background: var(--background);
}

.planner {
  padding: var(--dashboard-padding);

  display: grid;
  grid-template-columns: 1.8fr 1.2fr;
  grid-template-rows: min-content min-content 1fr;
  gap: 2rem;
}

.question {
  grid-column: 1 / -1;

  padding: 1rem 1rem 1.1rem 1rem;
  border: var(--border);
  background: var(--background);
  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  &__input {
    outline: 0;
    font-family: 'Merienda', cursive;
    font-size: 2.2rem;
    color: var(--color-primary-dark);

    border-bottom: 2px solid var(--color-font);

    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
  }
}

.content-box {
  border: var(--border);
  background: var(--background);
  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}

.task {
  display: flex;
  column-gap: 1rem;
  align-items: center;
  padding: 0 2rem;

  &__input {
    width: 100%;

    outline: 0;
    font-family: 'Merienda', cursive;
    font-size: 2.2rem;
    color: var(--color-primary-dark);

    border-bottom: 2px solid var(--color-font);

    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
  }

  .icon {
    margin-left: auto;
  }
}
