.dashboard {
  width: 75vw;
  min-height: 90vh;

  @media only screen and (max-width: $bp-large) {
    width: 90vw;
  }
  @media only screen and (max-width: $bp-smallest) {
    min-height: 100vh;
    width: 100vw;
    border-radius: 0;
  }

  display: grid;
  grid-template-rows: min-content;

  .about {
    grid-template-rows: min-content min-content 1fr;
  }

  overflow: hidden;
  @supports not (overflow: hidden) {
    overflow-x: hidden;
    overflow-y: hidden;
  }

  border-radius: 2.4rem;

  background: var(--background);
  /* backdrop-filter: blur(100px); */
  /* Note: backdrop-filter has minimal browser support */

  border: var(--border);

  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* gap: 1.5rem; // Remove the margin bottom on the main heading and add this if gap gets flexbox support on ios+safari

  @supports not (gap: 1px) {
    a {
      margin-bottom: 1.5rem;
    }
  } */

  padding: var(--dashboard-padding);
  @media only screen and (max-width: $bp-medium) {
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 4rem;
  }

  border-bottom: var(--border);

  background: var(--background);

  position: relative;
}

.planner {
  @media only screen and (max-width: $bp-medium) {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  @media only screen and (max-width: $bp-phone-large) {
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  padding: var(--dashboard-padding);

  display: grid;
  grid-template-columns: minmax(0, 2fr) minmax(0, 1fr) /* 66.666666667% 33.333333333% */;
  grid-template-rows: min-content min-content 1fr;
  gap: 2rem;

  @supports not (gap: 1px) {
    .question {
      margin-bottom: 2rem;
    }
    .content-box:not(:last-child) {
      margin-right: 2rem;
    }
  }

  @media only screen and (max-width: $bp-small) {
    grid-template-columns: minmax(
      0,
      1fr
    ); // This makes it so that the content in the div cannot blow out the grid item since the min is a definite width even if the max isn't

    @supports not (gap: 1px) {
      .content-box:not(:last-child) {
        margin-right: 0rem;
        margin-bottom: 2rem;
      }
    }
  }
  /* 
  overflow: hidden; // So that the overflow from the tasks text content doesnt expand the task container squishing everything in the dashboard
  @supports not (overflow: hidden) {
    overflow-x: hidden;
    overflow-y: hidden;
  } */
}

.about {
  animation: fadeIn 0.75s;
  padding: 3.5rem 20rem 3.5rem 22rem;

  display: grid;
  grid-template-rows: min-content min-content 1fr;
  gap: 2rem;

  @supports not (gap: 1px) {
    // Select all paragraphs except the last child
    & > p:not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  line-height: 1.6;

  color: var(--color-primary-dark);

  @media only screen and (max-width: $bp-largest) {
    padding: 3.5rem 12rem 3.5rem 14rem;
  }
  @media only screen and (max-width: $bp-medium) {
    padding: 3.5rem 6rem 3.5rem 6rem;
  }

  &__link {
    transition: all 0.2s;
    font-weight: 400;

    &:link,
    &:visited {
      color: inherit;
    }

    &:hover {
      color: var(--color-font);
    }
  }

  &__paragraph:last-child {
    font-size: 2.2rem;
    margin-top: auto;
    text-align: center;
  }

  hr {
    border: 1px solid var(--color-primary-light);
    border-radius: 50%;
    opacity: 0.4;
    margin: auto 0;
  }
}

.socials {
  justify-self: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;

  /*   @supports not (gap: 1px) {
    & > *:not(:last-child) {
      margin-right: 2rem;
    }
  } */
}
