/* 
font-family: 'Merienda', cursive; --------------------- 400;700
font-family: 'Montserrat Alternates', sans-serif; ----- 100;300;400;500;600;700
*/

.heading-primary {
  font-family: 'Merienda', cursive;
  font-size: 6.4rem;
  line-height: 1.3;
}

.heading-secondary {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 300;
  font-style: italic;
}

.sub-heading {
  font-weight: 300;
  color: var(--color-primary-dark);

  display: inline-block;

  &--bold {
    font-family: 'Merienda', cursive;
    font-weight: 700;
    color: var(--color-font);

    padding: 1rem 0;

    text-align: center;

    border-bottom: var(--border);

    background: var(--background-secondary);

    position: relative; // For the + icon to be positioned
  }
}

.link {
  display: inline-block;
  margin-left: 2rem;

  transition: all 0.2s ease;

  &:link,
  &:visited {
    text-decoration: none;
    color: inherit;
    font-weight: 500;
    font-style: italic;
  }
  &:hover {
    transform: translateX(0.75rem);
    color: var(--color-font);
  }

  &__arrow {
    display: inline-block;
    transition: all 0.1s ease;
  }

  &:active > &__arrow {
    transform: translateX(1rem);
  }
}

.task {
  font-family: 'Merienda', cursive;
  font-size: 2.2rem;
  color: var(--color-primary-dark);
}

.icon {
  fill: var(--color-font);
  cursor: pointer;
  display: inline-block;

  transition: all 0.2s ease-in-out;

  &--delete,
  &--add {
    opacity: 0.65;
    &:hover {
      opacity: 0.85;
    }
    &:active {
      opacity: 1;
    }
  }

  &--add {
    position: absolute;
    top: 1.25rem;
    right: 1.25rem;
  }

  &--reset {
    $size: 4.5rem;

    position: absolute;
    bottom: 0;

    height: $size;
    width: $size;
    padding: 0.75rem;

    transform: translate(0, $size/2);

    background-color: var(--color-dashboard);
    border: var(--border);
    border-radius: 50%;

    & > path {
      transition: 0.25s opacity;
      opacity: 0.8;
    }

    @keyframes reset {
      100% {
        transform: translate(0, $size/2) rotate(-360deg);
      }
    }

    &:hover {
      transform: translate(0, $size/2) rotate(-36deg);
      & > path {
        opacity: 1;
      }
    }
    &:active {
      animation: reset 0.25s forwards;
    }
  }

  &--checked {
    padding-left: 0.1rem;

    opacity: 0.1;
    &:hover {
      opacity: 0.2;
    }
  }

  &--unchecked {
    padding-left: 0.1rem;

    opacity: 1;
    &:hover {
      opacity: 0.75;
    }
  }
}
