:root {
  --color-white: #ddfce8;
  --color-black: #000;

  --color-primary: #52a370;
  --color-primary-light: #669979;
  --color-primary-dark: #274e36;

  --color-dashboard: #aedfa5;
  --color-font: #3d7451;

  --dashboard-padding: 3.5rem 8rem;

  --border: 2px solid var(--color-white);

  --background: linear-gradient(
    115.52deg,
    rgba(255, 255, 255, 0.35) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );

  --background-secondary: linear-gradient(
    115.52deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
}

/* --color-primary-light: #9ef060; */
