:root {
  --color-white: #ddfce8;
  --color-black: #000;
  --color-primary: #52a370;
  --color-primary-light: #669979;
  --color-primary-dark: #274e36;
  --color-dashboard: #aedfa5;
  --color-font: #3d7451;
  --dashboard-padding: 3.25rem 8rem 3.5rem 8rem;
  --border: 2px solid var(--color-white);
  --background: linear-gradient(
    115.52deg,
    rgba(255, 255, 255, 0.35) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
  --background-secondary: linear-gradient(
    115.52deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
  --background-tertiary: rgba(255, 255, 255, 0.1);
  --reset-position: translate(0, calc(var(--size) / 2 - 0.25rem));
  --size: 4.5rem; }

/* --color-primary-light: #9ef060; */
html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 87.5em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 62.5em) {
    html {
      font-size: 48.5%; } }
  @media only screen and (max-width: 31.25em) {
    html {
      font-size: 46.75%; } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-image: url("../images/background.png");
  background-color: var(--color-primary);
  background-size: cover;
  min-height: 100vh;
  padding: 5vh 0;
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 2.4rem;
  color: var(--color-font);
  display: flex;
  align-items: center;
  justify-content: center; }
  @media only screen and (max-width: 37.5em) {
    body {
      padding: 0; } }
  @supports (caret-color: #000) {
    body {
      caret-color: var(--color-primary-light); } }

::selection {
  background-color: var(--color-primary);
  color: var(--color-white); }

/* 
font-family: 'Merienda', cursive; --------------------- 400;700
font-family: 'Montserrat Alternates', sans-serif; ----- 100;300;400;500;600;700
*/
.heading-primary {
  font-family: 'Merienda', cursive;
  font-size: 6.4rem;
  line-height: 1.3;
  text-align: center;
  white-space: nowrap;
  margin-bottom: 1.5rem;
  position: relative; }
  @media only screen and (max-width: 31.25em) {
    .heading-primary {
      font-size: 6rem;
      padding-top: 1rem;
      padding-bottom: 1rem; } }
  @media only screen and (max-width: 25em) {
    .heading-primary {
      font-size: 4.5rem; } }
  .heading-primary:link, .heading-primary:visited {
    text-decoration: none;
    color: inherit;
    font-weight: 700; }
  .heading-primary:hover > .leaf-icon {
    transform: translate(-60%, -52.5%) rotate(15.5deg); }

.heading-secondary {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 300;
  font-style: italic; }

.sub-heading {
  font-weight: 300;
  color: var(--color-primary-dark);
  display: inline-block;
  text-align: center; }
  .sub-heading--bold {
    font-family: 'Merienda', cursive;
    font-weight: 700;
    color: var(--color-font);
    padding: 1rem 0;
    border-bottom: var(--border);
    background: var(--background-secondary);
    position: relative; }

.emphasis {
  font-family: 'Merienda', cursive;
  font-weight: 700; }

.link {
  display: inline-block;
  margin-left: 2rem;
  transition: all 0.2s ease; }
  .link:link, .link:visited {
    text-decoration: none;
    color: inherit;
    font-weight: 500;
    font-style: italic; }
  .link--right {
    margin-left: 2rem; }
  .link--left {
    margin-right: 2rem; }
  .link--right:hover {
    transform: translateX(0.75rem);
    color: var(--color-font); }
  .link--left:hover {
    transform: translateX(-0.75rem);
    color: var(--color-font); }
  .link__arrow-right {
    display: inline-block;
    transition: all 0.1s ease; }
  .link:active > .link__arrow-right {
    transform: translateX(1rem); }
  .link__arrow-left {
    display: inline-block;
    transition: all 0.1s ease; }
  .link:active > .link__arrow-left {
    transform: translateX(-1rem); }

.task {
  font-family: 'Merienda', cursive;
  font-size: 2.2rem;
  color: var(--color-primary-dark); }

.icon {
  fill: var(--color-font);
  cursor: pointer;
  display: inline-block;
  transition: all 0.2s ease-in-out; }
  .icon svg {
    cursor: pointer; }
  .icon--delete, .icon--add, .icon--social {
    opacity: 0.65; }
    .icon--delete:hover, .icon--add:hover, .icon--social:hover {
      opacity: 0.85; }
    .icon--delete:active, .icon--add:active, .icon--social:active {
      transition: all 0.1s;
      transform: scale(0.9);
      opacity: 1; }
  .icon--add {
    position: absolute;
    top: 1.55rem;
    right: 1.75rem; }
  .icon--reset {
    position: absolute;
    bottom: 0;
    height: var(--size);
    width: var(--size);
    padding: 0.75rem;
    transform: var(--reset-position);
    background-color: var(--color-dashboard);
    border: var(--border);
    overflow: visible;
    border-radius: 50%; }
    @supports not (overflow: visible) {
      .icon--reset {
        overflow-x: visible;
        overflow-y: visible; } }
    .icon--reset > path {
      opacity: 0.8;
      transform: translateX(1px); }
    .icon--reset:hover {
      transform: var(--reset-position) rotate(-45deg);
      /*       & > path {
        opacity: 1;
      } */ }
    .icon--reset:active {
      animation: reset 0.25s forwards; }
  .icon--checked {
    padding-left: 0.1rem;
    opacity: 0.1; }
    .icon--checked:hover {
      transform: scale(1.25);
      opacity: 0.2; }
  .icon--unchecked {
    padding-left: 0.1rem;
    opacity: 1; }
    .icon--unchecked:hover {
      transform: scale(1.25);
      opacity: 0.75; }
  .icon--social {
    height: 3.5rem;
    width: 3.5rem;
    opacity: 0.5; }

.leaf-icon {
  height: 15.5rem;
  width: 15.5rem;
  opacity: 0.3;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  transition: all 0.75s;
  transform: translate(-60%, -52.5%) rotate(10deg); }

.unselectable {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */ }

.u-shadow {
  transition: all 0.2s ease;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  display: block; }
  .u-shadow:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; }

.u-text-input {
  outline: 0;
  border: none;
  font-family: 'Merienda', cursive;
  font-size: 2.2rem;
  color: var(--color-primary-dark);
  overflow: auto;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  width: 100%;
  height: 100%; }

.u-strikethrough {
  opacity: 0.2;
  position: relative;
  text-decoration-color: currentColor !important;
  text-decoration: line-through;
  /*   &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 2px;
      background: var(--color-primary-dark);
      animation-name: strike;
      animation-duration: 0.45s;
      animation-timing-function: cubic-bezier(1, -0.04, 0.43, 1.21);
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
    } */ }

@keyframes strike {
  0% {
    width: 0; }
  100% {
    width: 100%; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes settleDown {
  from {
    transform: calc(var(--reset-position) - 0.5rem); }
  to {
    transform: var(--reset-position); } }

@keyframes reset {
  100% {
    transform: var(--reset-position) rotate(-720deg); } }

.question {
  animation: fadeIn 0.75s;
  grid-column: 1 / -1;
  padding: 1rem 1rem 1.1rem 1rem;
  border: var(--border);
  background: var(--background);
  border-radius: 1rem;
  display: grid;
  gap: 1rem; }
  @supports not (gap: 1px) {
    .question h4 {
      margin-bottom: 1rem; } }
  .question__input {
    transition: all 0.25s;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -25px, rgba(0, 0, 0, 0.04) 0px 10px 10px -10px;
    border-bottom-right-radius: 2.5px;
    border-bottom-left-radius: 2.5px;
    padding: 0 0.5rem;
    cursor: text; }
    .question__input:focus {
      box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 6px -6px, rgba(0, 0, 0, 0.06) 0px 4px 4px -4px; }
    .question__input--grateful:empty::before {
      opacity: 0.2;
      content: 'Try to make it something different than yesterday.'; }
    .question__input--goal:empty::before {
      opacity: 0.2;
      content: 'Let this be the one thing you will get done today \2013  no matter what.'; }

.content-box {
  animation: fadeIn 0.75s;
  border: var(--border);
  background: var(--background);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  /* gap: 2rem; */
  padding-bottom: 2.5rem; }
  .content-box > *:not(:last-child) {
    margin-bottom: 2rem; }
  .content-box:first-child {
    margin-bottom: 1rem; }

.task {
  display: flex;
  /* gap: 1.75rem; */
  align-items: center;
  padding: 0 2rem;
  animation: fadeIn 0.5s; }
  .task > *:not(:last-child) {
    margin-right: 1.75rem; }
  @supports not (gap: 1px) {
    .task > *:not(:last-child) {
      margin-right: 1.75rem; } }
  .task__checkbox {
    height: 2.5rem;
    width: 2.5rem;
    border: var(--border);
    border-radius: 5px; }
  .task__input {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border-bottom: 1px solid var(--color-primary-light);
    border-radius: 5px;
    padding: 0.5rem 0.75rem 0.5rem 0.75rem;
    cursor: text;
    transition: all 0.25s; }
    .task__input:empty::before {
      opacity: 0.2;
      content: 'Keep it specific and attainable.'; }
    .task__input:focus {
      background-color: var(--background-tertiary); }
  .task .icon {
    margin-left: auto; }

.notes__input {
  padding: 0 2rem;
  line-height: 1.9; }

.dashboard {
  width: 75vw;
  min-height: 90vh;
  display: grid;
  grid-template-rows: min-content;
  overflow: hidden;
  border-radius: 2.4rem;
  background: var(--background);
  /* backdrop-filter: blur(100px); */
  /* Note: backdrop-filter has minimal browser support */
  border: var(--border);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px; }
  @media only screen and (max-width: 75em) {
    .dashboard {
      width: 90vw; } }
  @media only screen and (max-width: 37.5em) {
    .dashboard {
      min-height: 100vh;
      width: 100vw;
      border-radius: 0; } }
  .dashboard .about {
    grid-template-rows: min-content min-content 1fr; }
  @supports not (overflow: hidden) {
    .dashboard {
      overflow-x: hidden;
      overflow-y: hidden; } }

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* gap: 1.5rem; // Remove the margin bottom on the main heading and add this if gap gets flexbox support on ios+safari

  @supports not (gap: 1px) {
    a {
      margin-bottom: 1.5rem;
    }
  } */
  padding: var(--dashboard-padding);
  border-bottom: var(--border);
  background: var(--background);
  position: relative; }
  @media only screen and (max-width: 62.5em) {
    .header {
      padding-left: 4rem;
      padding-right: 4rem;
      padding-top: 4rem; } }

.planner {
  padding: var(--dashboard-padding);
  display: grid;
  grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);
  grid-template-rows: min-content min-content 1fr;
  gap: 2rem;
  /* 
  overflow: hidden; // So that the overflow from the tasks text content doesnt expand the task container squishing everything in the dashboard
  @supports not (overflow: hidden) {
    overflow-x: hidden;
    overflow-y: hidden;
  } */ }
  @media only screen and (max-width: 62.5em) {
    .planner {
      padding-left: 4rem;
      padding-right: 4rem; } }
  @media only screen and (max-width: 31.25em) {
    .planner {
      padding-bottom: 2rem;
      padding-left: 2rem;
      padding-right: 2rem; } }
  @supports not (gap: 1px) {
    .planner .question {
      margin-bottom: 2rem; }
    .planner .content-box:not(:last-child) {
      margin-right: 2rem; } }
  @media only screen and (max-width: 50em) {
    .planner {
      grid-template-columns: minmax(0, 1fr); }
      @supports not (gap: 1px) {
        .planner .content-box:not(:last-child) {
          margin-right: 0rem;
          margin-bottom: 2rem; } } }

.about {
  animation: fadeIn 0.75s;
  padding: 3.5rem 20rem 3.5rem 22rem;
  display: grid;
  grid-template-rows: min-content min-content 1fr;
  gap: 2rem;
  line-height: 1.6;
  color: var(--color-primary-dark); }
  @supports not (gap: 1px) {
    .about > p:not(:last-child) {
      margin-bottom: 2rem; } }
  @media only screen and (max-width: 87.5em) {
    .about {
      padding: 3.5rem 12rem 3.5rem 14rem; } }
  @media only screen and (max-width: 62.5em) {
    .about {
      padding: 3.5rem 6rem 3.5rem 6rem; } }
  .about__link {
    transition: all 0.2s;
    font-weight: 400; }
    .about__link:link, .about__link:visited {
      color: inherit; }
    .about__link:hover {
      color: var(--color-font); }
  .about__paragraph:last-child {
    font-size: 2.2rem;
    margin-top: auto;
    text-align: center; }
  .about hr {
    border: 1px solid var(--color-primary-light);
    border-radius: 50%;
    opacity: 0.4;
    margin: auto 0; }

.socials {
  justify-self: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  /*   @supports not (gap: 1px) {
    & > *:not(:last-child) {
      margin-right: 2rem;
    }
  } */ }
